:root {
    --color-1: #2061f3;
    --color-hover: #346BFF;
    --color-primary: #212C4A;
    --grey: #7e7d7d;
    --off-white: #faf8f7;
    --just-white: #fff;

}
body {
    line-height: 1.5;
    
}
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-display: auto;

}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
  /* Logo */
.logo{
    width: 20%;
}
.logo img{
    width: 100%; 
}
  /* ::::::::: */
/*header*/
.header {
    background-color:var(--just-white);
    padding: 12px 0;
    position: relative;
    box-shadow: 0 4px 9px rgba(71, 70, 70, 0.5);
    z-index: 9999;
}
.header .logo,
.header .nav {
    padding: 0 15px;
}
.header .logo a {
    font-size: 30px;
    color: #000000;
    text-transform: capitalize;
}
.header .nav ul li {
    display: inline-block;
    margin-left: 20px;
}
.header .nav ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    transition: all 0.5s ease;
}
.header .nav ul li a:hover,
.header .nav ul li a.active {
    color: var(--color-1);
    border-bottom: 3px solid var(--color-1);
}
.header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    left: 0;
}
.nav-toggler span::before {
    top: -6px;
}
.nav-toggler span::after {
    top: 6px;
}

.buttonSignUp{
    border: 1px solid var(--color-1);
    border-radius: 10px;
    background-color: var(--color-1);
}
/* StickyNavBar */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main{
    padding-top: 120px;
}
  /* StickyNavBar */
/* BANNER */
.banner-container {
    width: 100%;
    min-width: 320px;
    height: 80vh;
    background-image: url("../assets/banner1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0 0 0 1000px rgba(242, 244, 251, 0.3);
}

.banner-text {
    margin: 25px;
    text-align: end;
    align-self: center;
    /* padding: 35px; */
}

.banner-text h1 {
    font-size: 4em;
    color: #000000;
}
.banner-text h2 {
    font-size: 2.2em;
    color: var(--color-1);
}
.banner-text p, ul{
    font-size: 1.8rem;
}
  
  
.form-container {
    background-color: rgba(15, 17, 27, 0.6);
    margin: 25px;
    align-self: center;
    border-radius: 30px;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
  
.form input {
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}
.btnCotizar {
    text-align: center;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    outline: none;
    background-color: #2061f3;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.form span, a{
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
.form a:hover{
    color: var(--color-1);
}

/* FOOTER */

.footer-container{
    display: grid;
    grid-template-columns: 35% 15% 25% 25%;
    text-align: start;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--just-white);
    padding: 10px;
    font-size: 1.6rem;
}

  
.footer-item{
    /* border: 1px solid red; */
    margin: 25px;
}

  .footer-item img{
    width: 300px;
    max-width: 400px;
  }
  
  .footer-item span{
    display: block;
    font-size: 1.6rem;
  }
  
  .footer-item i{
    margin-right: 10px;
    font-size: 4.5rem;
  }
  .services li a{
    font-size: 1.5rem;
  }
/* FOOTER */


@media (max-width: 991px) {
    .logo{
        width: 50%;
    }
    .nav-toggler {
      display: flex;
    }
    .header .nav {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 350px;
      background-color: #ffffff;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      opacity: 0;
      visibility: hidden;
    }
    .header .nav ul li {
      display: block;
      margin: 0;
    }
    .header #nav-check:checked ~ .nav {
      opacity: 1;
      visibility: visible;
    }
    .header #nav-check:focus ~ .nav-toggler {
      box-shadow: 0 0 15px #000000;
    }
    .header #nav-check:checked ~ .nav-toggler span {
      background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before {
      top: 0;
      transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after {
      top: 0;
      transform: rotate(-45deg);
    }
    .buttonSignUp{
        border: 1px solid var(--color-1);
        border-radius: 10px;
        width: 50%;
        margin-top: 7px;
    }
    .sticky + .main{
        padding-top: 100px;
      }
    /* banner */
    .banner-container {
        width: 100%;
        min-width: 320px;
        height: 80vh;
        background-image: url("../assets/banner1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        box-shadow: inset 0 0 0 1000px rgba(242, 244, 251, 0.3);
    }
    
    .banner-text {
        margin: 25px;
        text-align: end;
        align-self: center;
        /* padding: 35px; */
    }
    
    .banner-text h1 {
        font-size: 4em;
        color: #000000;
    }
    .banner-text h2 {
        font-size: 2.2em;
        color: var(--color-1);
    }
    .banner-text p, ul{
        font-size: 1.8rem;
    }
      
      
    .form-container {
        background-color: rgba(15, 17, 27, 0.6);
        margin: 25px;
        align-self: center;
        border-radius: 30px;
    }
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        align-items: center;
    }
      
    .form input {
        width: 350px;
        height: 40px;
        margin-bottom: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 20px;
    }
    .btnCotizar {
        text-align: center;
        width: 350px;
        height: 40px;
        border-radius: 8px;
        font-size: 2rem;
        outline: none;
        background-color: #2061f3;
        border: none;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
    }
    
    .form span, a{
        margin-top: 10px;
        color: #ffffff;
        font-size: 1.2rem;
    }
    .form a:hover{
        color: var(--color-1);
    }

    .footer-container{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        
    }

   
}