.logo img{
    /* width: 300px; */
}

.information-details--img img{
    max-width: 500px;
}

.card-container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.modules-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    
}

.banner-container {
    width: 100%;
    min-width: 320px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.information-details{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 25px;

}
.footer-container{
    display: grid;
    grid-template-columns: 35% 15% 25% 25%;
    text-align: start;
}

.client-text h2{
    font-size: 6rem;
}