:root {
    --color-1: #2061f3;
    --color-hover: #346BFF;
    --color-primary: #212C4A;
    --grey: #7e7d7d;
    --off-white: #faf8f7;
    --just-white: #fff;

  }
  body {
    line-height: 1.5;
    
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-display: auto;
  }
  html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h2, p,
  h3{
    font-size: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .align-items-center {
    align-items: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  /* Logo */
  .logo{
      width: 20%;
  }
  .logo img{
      width: 100%;
      
  }
  /* ::::::::: */
  /*header*/
  .header {
    background-color:var(--just-white);
    padding: 12px 0;
    position: relative;
    box-shadow: 0 4px 9px rgba(71, 70, 70, 0.5);
    z-index: 9999;
  }
  .header .logo,
  .header .nav {
    padding: 0 15px;
  }
  .header .logo a {
    font-size: 30px;
    color: #000000;
    text-transform: capitalize;
  }
  .header .nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  .header .nav ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    transition: all 0.5s ease;
  }
  .header .nav ul li a:hover,
  .header .nav ul li a.active {
    color: var(--color-1);
    border-bottom: 3px solid var(--color-1);
  }
  .header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    position: relative;
  }
  .nav-toggler span::before,
  .nav-toggler span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    left: 0;
  }
  .nav-toggler span::before {
    top: -6px;
  }
  .nav-toggler span::after {
    top: 6px;
  }

  .buttonSignUp{
      border: 1px solid var(--color-1);
      border-radius: 10px;
      background-color: var(--color-1);
  }

  /* StickyNavBar */
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .main{
    padding-top: 120px;
  }

  /* StickyNavBar */

  /* :::MODAL::: */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -40px;
    margin-right: -40px;
    background-color: red;
    width: 40px;
    border-radius: 90px;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .content-text p{
    color: var(--just-white);

  }

  .modal-container {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal-container.show {
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal {
    background: rgb(52,107,255);
    background: linear-gradient(48deg, rgba(52,107,255,1) 0%, rgba(32,97,243,1) 47%, rgba(42,42,40,1) 100%);
    /* background-color: #ffffff; */
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .btn-modal{
    padding: 10px;
    width: 200px;
    background-color: var(--just-white);
    text-align: center;
    font-size: 1.8rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin: 5px;

  }

  
  .content-banner img {
    width: 200px;
  }
  
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal h2{
    color: var(--just-white);
    font-weight: bolder;
  }
  /* :::::::::MODAL:::::::: */
  

  /* Banner */
  .banner-container {
    width: 100%;
    min-width: 320px;
    height: 80vh;
    background-image: url("https://ik.imagekit.io/6fwmtorwoj3/banner-2_4zSfsY8ru.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0 0 0 1000px rgba(3, 3, 3, 0.3);
  }
  
  .banner-text {
    margin: 25px;
    text-align: end;
    align-self: center;
    /* padding: 35px; */
  }

  
  .banner-text h1 {
    font-size: 4em;
    color: var(--just-white);
  }
  .banner-text h2 {
    font-size: 2.2em;
    color: var(--color-1);
  }
  .banner-text p, ul{
    font-size: 1.8rem;
    color: var(--just-white);
  }
  
  
  .form-container {
    background-color: rgba(15, 17, 27, 0.6);
    margin: 25px;
    align-self: center;
    border-radius: 30px;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
  }
  
  .form input {
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
  }
  .btnCotizar {
    text-align: center;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    outline: none;
    background-color: #2061f3;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
  }

  .form span, a{
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.2rem;
  }
  .form a:hover{
    color: var(--color-1);
  }


.card-item{
    padding: 15px;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    /* margin: 0 auto; */
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--color-primary);
    color: #ffffff;
    text-align: center;
}
.center{
  background-color: var(--color-hover);
}
.card-item:hover{
  background-color: var(--color-hover);
  cursor: pointer;
}
.center:hover{
  background-color: #ffffff;
  color: #000000;
}

.card-item h2{
  font-size: 2.46rem;
}

.card-item p{
  font-size: 1.5rem;
}
.card-item i{
  font-size: 5rem;
  margin-bottom: 10px;
}
i{
  font-size: 5rem;
  margin-bottom: 25px;
}

/* Service container */
.service-container{
  text-align: center;
  margin-top: 80px;
  /* margin-bottom: 20px; */
  padding: 20px;

}
.service-container h1{
  font-size: 3rem;
  color: var(--color-1);
}
.service-container h3{
  font-size: 2rem;
}
.service-container p{
  font-size: 1.6rem;
  color: var(--grey);
}

.modules-container{
  display: flex;
  justify-content: center;
}
.title-modules{
  font-size: 3rem;
  text-align: center;
  color: var(--grey);
  padding: 25px;
}

.flip-card {
  margin: 10px;
  background-color: transparent;
  width: 100%;
  height:250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  background-color: var(--color-primary);
  border-radius: 7px;
  color: #ffffff;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--color-hover);
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 7px;
}

.btn-planes{
  text-align: center;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  margin: 10px;
  background-color: #ffffff;
  
}



.information-details--img{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  

}

.information-details--img img{
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.information-details--text{
  padding: 30px;
}
.btn-info{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 15px;
  justify-content: center;

}



.btn-search{
  padding: 10px;
  width: 200px;
  background-color: var(--color-1);
  text-align: center;
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
  display: flex;
  align-items: center;
}

.btn-search i{
  color: #000;
  margin: 0 auto;
  font-size: 3.5rem;
}

.btn-search:hover{
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(32, 73, 209, 0.5);
}

.information-title{
  font-size: 5.7rem;
  line-height: 70px;
  margin-bottom: 25px;
}
.information-buttons{
  box-shadow: 0 4px 8px rgba(71, 70, 70, 0.5);
  padding: 25px;
  margin-top: 10px;
  text-align: center;
}
.planes{
  display: flex;
  justify-content: center;
  
  
}

.apply-for-container{
  display: flex;
  background-color: var(--color-1);
  justify-content: center;
  align-items: center;
}

.apply-for{
  margin: 10px;
  text-align: center;
  
}
.apply-for p{
  color: var(--just-white);
  font-size: 1.7rem;
}

.apply-for a{
  font-size: 1.6rem;

}
.btn{
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(27, 194, 27);
  
}
/* apply-for */

.plan-item{
  /*  */
  position: relative;
/*  */
  text-align: center;
  margin: 15px;
  max-width: 350px;
  padding:15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(19, 18, 17, 0.5);

}
.recommended{
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 6px;
  top: -15px; 
  left: calc(50% - 60px); 
  font-size: 1.2rem;
  background-color: #F23883;
  border-radius: 8px;
  color: var(--just-white);
}
.recommended:hover{
  color: #000000;
  background-color: var(--just-white);
  border: 1px solid var(--color-1);
  box-shadow: rgba(19, 18, 17, 0.5);
}

.plan-item h3{
  font-size: 3rem;
  color: var(--color-1);

}
.plan-item i{
  color: var(--color-primary);
  margin-top: 20px;

}
.plan-item p{
  text-align: center;
  

}
.plan-price{
  display: flex;
  justify-content: center;
}


.plan-price p{
  font-size: 4rem;
}



.plan-price span{
  font-size: 1.6rem;
}
.bold{
  color: var(--color-1);
  font-size: 5rem;
  font-weight: bold;
}
.plan-description li{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000000;
}

.btn-star{
  padding: 10px;
  width: 200px;
  background-color: var(--color-1);
  text-align: center;
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
}
.btn-star:hover{
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(32, 73, 209, 0.5);

}
/* clients */
.clients-container{
  background-color: #212C4A;
  padding: 25px;
  /*  */
  background-image: url("./assets/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(10, 32, 112, 0.8);
}

.client-text{
  text-align: center;
  font-size: 1.6rem;
  color: var(--just-white);
}
.client-text h2{
  font-size: 4rem;
}

.client-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-card{
  background-color: var(--just-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
}



.client-card i{
  color: #F2AD07;
  font-size: 1.6rem;
}

.client-card img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 300px;
}


/* clients */


/* Footer */
.footer-container{
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--just-white);
  padding: 10px;
}

.footer-item{
  /* border: 1px solid red; */
  margin: 25px;
}
.footer-item img{
  width: 340px;
  max-width: 400px;
}

.footer-item span{
  display: block;
  font-size: 1.6rem;
}

.footer-item i{
  margin-right: 10px;
}
.services li a{
  font-size: 1.5rem;
}

.sendMailDone{
  display: none;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #1BC21B;
}
.error{
  display: none;
  margin-top: 10px;
  font-size: 1.2rem;
  color: red;
}


  @media (max-width: 991px) {
    .modal-container {
      /* display: none; */
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgb(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
    }
  
    .modal-container.show {
      opacity: 1;
      pointer-events: auto;
    }
  
    .modal {
      margin-top: 100px;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 30px 30px;
      width: 600px;
      max-width: 90%;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  
    .content-banner img {
      width: 200px;
    }
  
    .modal-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .logo{
        width: 50%;
    }
    .nav-toggler {
      display: flex;
    }
    .header .nav {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 350px;
      background-color: #ffffff;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      opacity: 0;
      visibility: hidden;
    }
    .header .nav ul li {
      display: block;
      margin: 0;
    }
    .header #nav-check:checked ~ .nav {
      opacity: 1;
      visibility: visible;
    }
    .header #nav-check:focus ~ .nav-toggler {
      box-shadow: 0 0 15px #000000;
    }
    .header #nav-check:checked ~ .nav-toggler span {
      background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before {
      top: 0;
      transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after {
      top: 0;
      transform: rotate(-45deg);
    }

    .sticky + .main{
      padding-top: 100px;
    }
    .buttonSignUp{
        border: 1px solid var(--color-1);
        border-radius: 10px;
        width: 50%;
        margin-top: 7px;
    }
    .card{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .flip-card{
      height:270px;
    }
    .modules-container{
      flex-wrap: wrap;
    }
    .background-imagen--text{
      width: 100%;
      padding: 40px;
    }

    .banner-container {
      width: 100%;
      min-width: 320px;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    .form input {
      width: 250px;
      height: auto;
    }
    .form{
      padding: 40px;
    }
    .banner-text,
    .form-container {
      margin: 10px;
    }
    .form input {
      padding: 10px;
    }
    .btnCotizar {
      width: 250px;
    }
    .banner-text {
      text-align: center;
      padding: 4px;
    }
    .banner-text h1 {
      font-size: 2.5rem;
    }
    .banner-text h2{
      font-size: 2rem;
    }

    .banner-text p, ul{
      font-size: 1.6rem;

    }
    .information-details{
      display: flex;
      flex-direction: column;
    }

    .information-details--img{
      order: 2;

    }
    .information-details--text{
      text-align: center;
      order: 1;
    }
   
    .btn-search{
      width: 120px;
      font-size: 1.2rem;
    }
    .btn-search i{
      font-size: 2rem;
      margin-right: 5px;
    }

    .planes{
      display: flex;
      flex-wrap: wrap;
    }

    .card-container{
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  

