:root {
    --color-1: #2061f3;
    --color-hover: #346BFF;
    --color-primary: #212C4A;
    --grey: #7e7d7d;
    --off-white: #faf8f7;
    --just-white: #fff;

}

*{
    font-display: auto;

}

.banner-contact{
    background-color: var(--color-1);
    padding: 25px;
    background-image: url("https://ik.imagekit.io/6fwmtorwoj3/contact_iKg02vgpR.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(29, 65, 196, 0.8);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact {
    font-size: 6rem;
    color: var(--just-white);
    text-align: center;
}


.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item{
    /* padding: 10px; */
    margin: 5px;

}
iframe{
    width: 580px; 
    height:450px; 
    border: 0;
}
.title{
    font-size: 4rem;
    font-weight: bold;
}


.form-contact input{
    font-size: 1.6rem;
    min-width: 240px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgb(221, 215, 215);
    outline: none;  
}

.txt-area textarea{
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 510px;
    outline: none;
    padding: 5px;
    border: 1px solid rgb(221, 215, 215);
}

.txt-area textarea:hover{
    border: 1px solid #000;

}

.form-contact input:hover{
    border: 1px solid #000;

}
.submit{
    background-color: #313636;
    color: var(--just-white);
    cursor: pointer;
}
.submit:hover{
    background-color: var(--color-1);
}

.item-map{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

/* data contact */
.data-contact {
    background-color: var(--color-1);
    padding: 25px;
    background-image: url("https://ik.imagekit.io/6fwmtorwoj3/howitwork_e3N525gw9d.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(239, 242, 247, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.data-item1{
    background-color:var(--just-white);
    min-width: 600px;
    min-height: 400px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-item1 span {
    font-size: 1.6rem;
    color: #A08995;
}

.data-item1 span a{
    font-size: 1.6rem;
    color: #A08995;
}
.data-item--i{
    display: flex;
    align-items: center;
    padding: 10px;
}

.data-item--i p{
    font-size: 2rem;
    font-weight: bold;
}
.data-item--i i{
    font-size: 2.5rem;
    margin-right: 10px;
}

.data-item2{
    padding: 10px;

}
.data-item2 h1{
    font-size: 3.3rem;
    margin-bottom: 30px;
}
.data-item2 p{
    font-size: 1.6rem;
}

.item2-chat{
    margin-top: 20px;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 20px;
    font-size: 3.2rem;
    color: var(--just-white);

}

.data-item2 button{
    padding: 20px;
    font-size: 1.6rem;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--just-white);
    border: none;
    border-radius: 5px;
    font-weight: bold;

}

.sendMailDone{
    display: none;
    margin-top: 10px;
    font-size: 1.6rem;
    color: #1BC21B;
}
.error{
    display: none;
    margin-top: 10px;
    font-size: 1.6rem;
    color: red;
}

@media (max-width: 991px) {

    
      /* BANNER -FORM */
    .form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .txt-area textarea{
        min-width: 300px;
    }
    .form-contact input{
        min-width: 300px;
        margin: 5px;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .data-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .data-item1{
        min-width: 200px;
    }
    iframe{
        width: 300px; 
        height:450px; 
        border: 0;
    }
}