:root {
    --color-1: #2061f3;
    --color-hover: #346BFF;
    --color-primary: #212C4A;
    --grey: #7e7d7d;
    --off-white: #faf8f7;
    --just-white: #fff;

}

*{
    font-display: auto;
}
/* BANNER -FORM */
.banner-container {
    width: 100%;
    min-width: 320px;
    height: 80vh;
    background-image: url("https://ik.imagekit.io/6fwmtorwoj3/howitwork_e3N525gw9d.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0 0 0 1000px rgba(242, 244, 251, 0.3);
}
  
.banner-text {
    margin: 25px;
    text-align: center;
    align-self: center;
    /* padding: 35px; */
}

  
.banner-text h1 {
    font-size: 4em;
    color: #000000;
}

.banner-text h2 {
    font-size: 2.2em;
    color: var(--color-1);
}

.banner-text p, ul{
    font-size: 1.8rem;
}
  
  
.form-container {
    background-color: rgba(15, 17, 27, 0.6);
    margin: 25px;
    align-self: center;
    border-radius: 30px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
  
.form input {
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}
.btnCotizar {
    text-align: center;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    outline: none;
    background-color: #2061f3;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.form span, a{
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}

.form a:hover{
    color: var(--color-1);
}
/* BANNER -FORM */

/* PLANES */
.plan-container{
    text-align: center;
    margin-bottom: 25px;
}
.plan-container h2{
    font-size: 5rem;
    color: var(--color-1);
}
.plan-container p{
    font-size: 2rem;
    margin-bottom: 20px;
}
.plan-container span{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
}

.plan-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.item{
    position: relative;
    text-align: center;
    margin: 15px;
    max-width: 300px;
    padding:15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(19, 18, 17, 0.5);

}

.item h3{
    font-size: 3rem;
    color: var(--color-1);
}

.item i{
    color: var(--color-primary);
    margin-top: 20px;
    font-size: 4rem;
}
.item p{
    text-align: center;
}
.plan-price{
    display: flex;
    justify-content: center;
}
.label{
    font-size: 1.6rem;
    background-color: var(--just-white);
    color: #F23883;
    
}
.label:hover{
    background-color: var(--color-1);
    color: var(--just-white);
}

.plan-price p{
    font-size: 4rem;
}

.item ul li{
    font-size: 1.6rem;
}
.plan-description li{
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.btn{
    margin-top: 30px;
    margin-bottom: 30px;
}
.item a{
    color: #fff;
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: var(--color-1);
    padding: 10px;
    cursor: pointer;
}

/*Section#2*/
.item-4{
    position: relative;
    text-align: center;
    margin: 10px;
    max-width: 250px;
    padding:10px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(19, 18, 17, 0.5);

}
.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px; 
    left: calc(50% - 60px); 
    font-size: 1.2rem;
    background-color: #F23883;
    border-radius: 8px;
    color: var(--just-white);
}

.item-4 h3{
    font-size: 3rem;
    color: var(--color-1);
}

.item-4 i{
    color: var(--color-primary);
    margin-top: 20px;
    font-size: 4rem;
    margin-bottom: 20px;
}
.item-4 p{
    text-align: center;
}

.item-4 ul li{
    font-size: 1.6rem;
}


.item-4 a{
    color: #fff;
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: var(--color-1);
    padding: 10px;
    cursor: pointer;
}
/* section 3 */
.sendMailDone{
    display: none;
    margin-top: 10px;
    font-size: 1.6rem;
    color: #1BC21B;
  }
  .error{
    display: none;
    margin-top: 10px;
    font-size: 1.2rem;
    color: red;
  }

@media (max-width: 991px) {
    /* BANNER -FORM */

    .banner-container {
        width: 100%;
        min-width: 320px;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
  
    .form input {
        width: 250px;
        height: auto;
    }

    .form{
        padding: 40px;
    }
    
    .banner-text,
    .form-container {
        margin: 10px;
    }
    
    .form input {
        padding: 10px;
    }
    
    .btnCotizar {
        width: 250px;
    }
    
    .banner-text {
        text-align: center;
        padding: 4px;
    }
    
    .banner-text h1 {
        font-size: 2.5rem;
    }
    .banner-text h2{
        font-size: 2rem;
    }
  
    .banner-text p, ul{
        font-size: 1.6rem;
  
    }
      /* BANNER -FORM */
    .plan-container h2{
        font-size: 4rem;

    }
    .item-4{
        margin: 17px;
    }
}



