:root {
    --color-1: #2061f3;
    --color-hover: #346BFF;
    --color-primary: #212C4A;
    --grey: #7e7d7d;
    --off-white: #faf8f7;
    --just-white: #fff;
    --pink:#F23883;

}
/* BANNER -FORM */
.banner-container {
    width: 100%;
    min-width: 320px;
    height: 80vh;
    background-image: url("https://ik.imagekit.io/6fwmtorwoj3/plan_iTLHoBISg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
  
.banner-text {
    margin: 25px;
    text-align: center;
    align-self: center;
    /* padding: 35px; */
}

  
.banner-text h1 {
    font-size: 4em;
    color: var(--just-white);
    line-height: 5rem;
}

.banner-text h2 {
    font-size: 2.2em;
    color: var(--color-1);
}

.banner-text p, ul{
    font-size: 1.8rem;
}
  
  
.form-container {
    background-color: rgba(15, 17, 27, 0.6);
    margin: 25px;
    align-self: center;
    border-radius: 30px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
  
.form input {
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}
.btnCotizar {
    text-align: center;
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    outline: none;
    background-color: #2061f3;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.form span, a{
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}

.form a:hover{
    color: var(--color-1);
}
/* BANNER -FORM */

/* Info container */
.info-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-container h1, h2{
    text-align: center;
    font-size: 4rem;
    color: #010425;
    margin-top: 25px;
}
.item-text{
    width: 50%;
}

.item-text span{
    display: block;
    font-size: 1.6rem;
    color: var(--pink);
    text-align: center;

}
.info-item-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.item-text ul li{
    font-size: 1.6rem;
    text-align: center;

}


.info-item img{
    width: 400px;
    max-width: 600px;
    margin-left: 10px;
}




.info-item p{
    margin: 25px;
    font-size: 1.5rem;
    text-align: justify;
}



.btn-contact{
    display: flex;
    justify-content: center;
}
.btn-contact a{
    font-size: 1.6rem;
    margin-left: 10px;
    padding: 10px;
}

.info{
    color: var(--color-1);
    border: 1px solid #000000;
    background-color: var(--just-white);
}

.cont{
    background-color: var(--color-1);
    color: var(--just-white);
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .main{
    padding-top: 120px;
  }

/* Benefits Container*/
.benefits-container{
    background-color: var(--color-1);
    padding: 25px;
    background-image: url("https://ik.imagekit.io/6fwmtorwoj3/howitwork_e3N525gw9d.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(28, 70, 223, 0.8);
    
}
.benefits-container h2{
    font-size: 6rem;
    color: var(--just-white);

}
.benefits-item-container{
    display: flex;
    margin: 0 auto;
}

.benefits-item{
    font-size: 1.6rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(233, 232, 230, 0.16);
    background-color: var(--just-white);
    margin: 10px;
    padding: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-item:hover{
    transform: scale(1.1);
}


.benefits-item i{
    font-size: 6rem;
    margin-bottom: 20px;
    color: var(--pink);
}
.benefits-item h3{
    font-size: 2.5rem;
    margin-bottom: 20px;

}

.benefits-item p{
    margin-bottom: 20px;

}

.benefits-item a{
    color: #000;
    font-size: 1.7rem;

}

.benefits-item a:hover{
    color:var(--pink);
    font-size: 1.7rem;

}
/* Benefits Container*/

/* FAQ */
.faq-seccion{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.faq-seccion img{
    width: 400px;
    max-width: 600px;
    margin-right: 10px;
    
}

.faq-seccion img:hover{
    transform: scale(0.9);
    opacity: 0.8;
}

.accordion{
    width: 80%;
    margin: 2rem auto;
    font-size: 1.6rem;
}
.accordion-item{
    
    padding: 10px;
    background-color: var(--just-white);
    color: #000;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.25);

}

.accordion-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--color-1);
}


.accordion-item-header::after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    
}

.accordion-item-header.active::after{
    content: "\2212";

}
.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
}
.accordion-item-body-content{
    padding: 1rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #2061F3, transparent)1;

}

.accordion-item-header.active + .accordion-item-body {
    max-height: 500px;

}
/* FAQ */



/* apply-for */
.apply-for-container{
    display: flex;
    background-color: var(--color-1);
    justify-content: center;
    align-items: center;
}

.apply-for{
    margin: 10px;
    text-align: center;
    
}
.apply-for p{
    color: var(--just-white);
    font-size: 1.7rem;
}

.apply-for a{
    font-size: 1.6rem;

}
.btn{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(27, 194, 27);
    
}
/* apply-for */

.sendMailDone{
    display: none;
    margin-top: 10px;
    font-size: 1.6rem;
    color: #1BC21B;
  }
  .error{
    display: none;
    margin-top: 10px;
    font-size: 1.2rem;
    color: red;
  }

@media (max-width: 991px) {
    /* BANNER -FORM */

    .banner-container {
        width: 100%;
        min-width: 320px;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
  
    .form input {
        width: 250px;
        height: auto;
    }

    .form{
        padding: 40px;
    }
    
    .banner-text,
    .form-container {
        margin: 10px;
    }
    
    .form input {
        padding: 10px;
    }
    
    .btnCotizar {
        width: 250px;
    }
    
    .banner-text {
        text-align: center;
        padding: 4px;
    }
    
    .banner-text h1 {
        font-size: 2.5rem;
    }
    .banner-text h2{
        font-size: 2rem;
    }
  
    .banner-text p, ul{
        font-size: 1.6rem;
  
    }
      /* BANNER -FORM */

    /* info container */
    .info-item-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .info-item{
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-wrap: wrap;
    }
    .info-item img{
        width: 300px;
    }

    .faq-seccion img{
        width: 300px;
    }
    .faq-seccion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-item-container{
        display: flex;
        flex-direction: column;
    }

    .item-text{
        width: 100%;
        order: 2;
    }

}

